<div id="<%= dom_id atendimento %>">
  <p>
    <strong>Paciente:</strong>
    <%= atendimento.paciente_id %>
  </p>

  <p>
    <strong>Tipo paciente:</strong>
    <%= atendimento.tipo_paciente %>
  </p>

  <p>
    <strong>Data entrada:</strong>
    <%= atendimento.data_entrada %>
  </p>

  <p>
    <strong>Encaminhamento:</strong>
    <%= atendimento.encaminhamento %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= atendimento.status %>
  </p>

  <p>
    <strong>Observacoes:</strong>
    <%= atendimento.observacoes %>
  </p>

</div>
