<div id="<%= dom_id exame %>">
  <p>
    <strong>Consulta:</strong>
    <%= exame.consulta&.display_label || "-" %>
  </p>

  <p>
    <strong>Nome do exame:</strong>
    <%= exame.nome_exame %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= Exame::STATUS_LABELS[exame.status] %>
  </p>

  <p>
    <strong>Data do exame:</strong>
    <%= exame.data_exame %>
  </p>

  <p>
    <strong>Realizado em:</strong>
    <%= exame.data_realizacao ? l(exame.data_realizacao, format: :long) : "-" %>
  </p>

  <p>
    <strong>Profissional responsável:</strong>
    <%= exame.profissional_realizou_exame.presence || "-" %>
  </p>

  <p>
    <strong>Observações:</strong>
    <%= exame.observacao_exame %>
  </p>

  <% if exame.arquivo_resultado.attached? %>
    <p>
      <strong>Resultado:</strong>
      <%= link_to exame.arquivo_resultado.filename, url_for(exame.arquivo_resultado) %>
    </p>
  <% end %>

</div>
