<div id="<%= dom_id consulta %>">
  <p>
    <strong>Atendimento:</strong>
    <%= consulta.atendimento_id %>
  </p>

  <p>
    <strong>Medico:</strong>
    <%= consulta.medico_id %>
  </p>

  <p>
    <strong>Data hora:</strong>
    <%= consulta.data_hora %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= consulta.tipo %>
  </p>

  <p>
    <strong>Anamnese:</strong>
    <%= consulta.anamnese %>
  </p>

  <p>
    <strong>Diagnostico:</strong>
    <%= consulta.diagnostico %>
  </p>
</div>
